{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel = "stylesheet" type = "text/css" href = "{% static 'ranpassgen/styles.css' %}">

    <title> Password</title>
</head>
<body>
    <a href="{% url 'index' %}" class="bckButton">New Password</a>
    
    <div class="titleContainer">
        <h1>Create Strong Passwords with Password Generator.</h1>
    </div>

    <div class="card">
       <p> {{ password }} </p>
    </div>
</body>

</html>